<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <html>
    <h1>
      Summary Statistics
    </h1>
    <p>
      Here we present a range of summary statistics related to the data which powers the dashboard (and some which doesnt), updated when the Catalog is updated. Note that these summary statistics and the figures themselves only use raw (wrangled) data from the &lt;a href="https://www.ebi.ac.uk/gwas/"&gt;Catalog&lt;/a&gt;. Currently:
    </p>
    <body>
      <ul id="summary-list">
        <li>
          There are a total of 4257 studies in the Catalog.
        </li>
        <li>
          Earliest study in catalogue was PubMedID 15761122 on 2005-03-10 by Klein RJ et al.
        </li>
        <li>
          Most recent study in the catalogue was PubMedID 31501611 on 2019-09-09 by Karlsson T et al.
        </li>
        <li>
          Accession with biggest sample is PubMedID 30643256 (N=2370390) by Baselmans BML et al.
        </li>
        <li>
          There are a total of 7796 unique study accessions.
        </li>
        <li>
          There are a total of 4703 unique diseases and traits studied.
        </li>
        <li>
          There are a total of 3127 unique EBI "Mapped Traits".
        </li>
        <li>
          The total number of associations found is 159202.
        </li>
        <li>
          The average number of associations found is 20.42.
        </li>
        <li>
          Mean P-Value for the strongest SNP risk allele is: 1.014E-6.
        </li>
        <li>
          The number of associations reaching the 5e-8 significance threshold: 103694.
        </li>
        <li>
          The journal to feature the most GWAS studies is: Nat Genet.
        </li>
        <li>
          Total number of different journals publishing GWAS is: 545.
        </li>
        <li>
          Most frequently studied (Non-European) disease or trait: Type 2 diabetes.
        </li>
      </ul>
    </body>
  </html>
</head>
